/* * Responsive Required Screen List
----------------

**Desktop**
1920 x 1080
1366 x 768
1280 x 850

**Tablet**  (landscape and portrait)
1024 x 640
768 x 1024

**Mobile**  (landscape and portrait)
480 x 853
414 x 736 (**iPhone 6/7/8 plus**)
375 x 667 (**iPhone 6/7/8 **)
375 x 812 (**iPhone X **)
360 x 640
320 x 568 (**iPhone 5/SE**)
320 x 480 (**iPhone 4**)

Less Required Screen
----------------
800 x 1280
600 x 960 */ 




@media screen and (max-width: 480px) {
    #top-bar {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
     }
     .search-bar{
         padding-top: 10px;
         padding-left: 0px;
         margin-top: 10px;
     }
     .Text-Block h2{
         font-size: 25px;
     }
     .button{
         margin-bottom: 15px;
     }
     .contact-single{
         margin-bottom: 20px;
     }
    }
    /* iPad or tablets  ----------- */
    @media screen and (max-width: 768px) {
    .social-icons{
        margin-top: 10px;
    }
    .form-inline input{
        margin-bottom: 10px;
    }
    .Text-Block{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .slider-image{
        margin-top: 50px;
    }
    .contact-us-description {
        margin-top: 50px;
        
    }
  .right-shout  .contact-p{
        font-size: 15px;
    }
    .text-input{
        width: 80%;
    }
    .message-input{
        width: 80%;
    }
    }
    
   
    